##
##	2015-07-14, MAKAROV EVGENY
##

AddDefaultCharset UTF-8
php_value date.timezone Asia/Yekaterinburg


RewriteEngine On

RewriteRule ^micro/(.*)$ micro.php?_url=/$1 [QSA,L]

# редиректы на index.php тоже должны передаваться в _url
RewriteRule ^index.php$ index.php?_url=/ [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]